:root {
    --primary-color: #123456;
    --secondary-color: #ffffff;
    --header-footer-color: #abcdef;
}

body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header, footer {
    background-color: var(--header-footer-color);
    text-align: center;
    position: fixed;
    width: 100%;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    font-size: 0.8em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

#data, #weather {
    margin: 20px;
    margin-top: 250px; /* Adjust this value to match your header's height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1; /* Added this line */
}

@media screen and (min-width: 601px) {
    body {
        background-image: url('../images/valley.jpg');
        background-size: cover;
        background-position: center;
        flex-direction: row; /* Changed this line */
    }
    #data, #weather {
        background-color: rgba(255, 255, 255, 0.8);
        flex-grow: 1; /* Added this line */
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
}

#weather::after {
    content: "";
}
