body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
form {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    background-color: #4B0082; /* Indigo */
    color: white;
    padding: 10px;
}
label {
    display: block;
    margin-top: 20px;
    color: #4B0082; /* Indigo */
}
#rating {
    display: flex;
    flex-direction: column;
}
#rating input[type="radio"] {
    margin-right: 5px;
}
textarea, select, input[type="date"], input[type="text"] {
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #EE82EE; /* Violet */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    display: block;
}
input[type="submit"]:hover {
    background-color: #DA70D6; /* Orchid */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4B0082; /* Indigo */
    color: white;
    text-align: center;
    padding: 10px 0;
}
#rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#rating div {
    text-align: center;
}